@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

input {
  font-weight: regular;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  text-align: center;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#search-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: spin 1s linear infinite;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.upload-image-icon {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

#custom-labels {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  justify-content: center;
  height: 20px;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
  border: 1.5px solid #a1a1a152;
  font-size: 16px;
}

#custom-labels {
  margin-top: 0px;
}

.btn-md {
  background-color: #f2f2f2;
  border: none;
  color: white;

  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.btn-md:hover {
  background-color: #c9c9c9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-width: fit-content;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  padding-right: 35px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -10px;
  margin-bottom: -20px;
}

.modal-close span {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 50px;
}
#search-results img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

/* Upload Form */

#upload-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

#upload-form label,
#upload-form input {
  margin-bottom: 10px;
}

#upload-form input[type="file"] {
  display: none;
}

#upload-form input[type="text"] {
  width: 100%;
}

.upload-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.file-name {
  margin-left: 10px;
}

.upload-laptop-icon {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

/* Image Modal */

#image-modal {
  height: 100%;
}

#image-modal .modal-content {
  display: flex;
  width: 80%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

#modal-image {
  padding: 20px;
  margin-top: -5px;
  max-width: 90%;
  max-height: 800px;
}

.nav-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  z-index: 1;
}

#left-button {
  left: 5px;
  top: 50%;
  margin-right: -10px;
  margin-left: 10px;
  transform: translateY(-50%);
}

#right-button {
  right: 5px;
  top: 50%;
  margin-left: -10px;
  margin-right: 10px;
  transform: translateY(-50%);
}

#upload-loading,
#loading,
#no-results,
#upload-success {
  margin-top: 20px;
}

.center-container {
  width: 100%;
  text-align: center;
}

#header {
  cursor: pointer;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 400px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(99, 99, 99, 0.1);
  border: 1.5px solid #a1a1a152;
}

#search-input {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

#search-input:focus,
#custom-labels:focus {
  outline: none;
}

#search-input::placeholder {
  color: #bbbbbb;
}

.circular-button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(99, 99, 99, 0.1);
  border: none;
  background-color: #ff9f51;
  margin-left: 10px;
}

.circular-button:hover {
  background-color: #e48f4a;
}

.rectangular-button {
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: fit-content;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(99, 99, 99, 0.1);
  border: none;
  background-color: #ff9f51;
  margin-left: 10px;
  font-family: "Poppins";
  font-size: 16px;
  margin-bottom: 5px;
}

.rectangular-button span {
  padding: 10px;
  color: white;
}

.rectangular-button:hover {
  background-color: #e48f4a;
}

#voice-button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#voice-button:hover {
  background-color: #f2f2f2;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #767676;
  cursor: pointer;
  width: 50px;
}

.mic-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

/* loading dots */
.loading-dots {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 6px;
  margin-right: 5px;
}

.loading-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #b1b1b1;
  border-radius: 50%;
  animation: loading-dots 1.4s infinite ease-in-out both;
}

.loading-dot:nth-child(1) {
  left: 0;
  animation-delay: -0.32s;
}

.loading-dot:nth-child(2) {
  left: 8px;
  animation-delay: -0.16s;
}

.loading-dot:nth-child(3) {
  left: 16px;
  animation-delay: 0s;
}

@keyframes loading-dots {
  0%,
  80%,
  100% {
    transform: scaleY(0.4);
  }
  40% {
    transform: scaleY(1);
  }
}
